/* Write your CSS code here */
.bg-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.heading{
    color: #ea580c;
    font-size: 36px;
    font-family: "Roboto";
    text-align: center;
    margin-bottom: 20px;
}
.responsive-container{
    width: 90%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 16px 0px #bfbfbf;
    padding: 20px;
    padding-top: 45px;
    padding-bottom: 20px;
}
.form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 10px;
}

@media (max-width: 576px){
    .input-container{
        width: 90%;
    }
}
.input{
    border-color:  #9aa5b1;
    border-width: 1px;
    border-style: solid;
    height: 36px;
    padding-left: 15px;
    color: #9aa5b1;
    font-family: "Roboto";
    font-size: 15px;
    border-radius: 6px;
}
.label{
    font-size: 11px;
    color: #475569;
    font-family: "Roboto";
    margin-bottom: 3px;
    font-weight: 500;
}
.submit-btn{
    color: #ffffff;
    background-color: #ea580c;
    border-width: 0;
    font-family: "Roboto";
    height: 33px;
    width: 82px;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
}
.required-style{
    border-color:  #ff0b37;
    background-color: #fef2f4;
    border-style: solid;
    border-width: 1px;
}
.error-msg{
    color: #ff0b37;
    font-family: "Roboto";
    font-size: 12px;
    margin-top: 1px;
    font-weight: 500;
}
.submit-another-response{
    width: 180px;
    font-size: 13px;
   
}
.submitted-success-text{
    font-family: "Roboto";
    margin-bottom: 25px;
    margin-top: 20px;
}